RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
Options -Indexes

# ErrorDocument 404 https://erp.saaol.com/404
# ErrorDocument 403 https://erp.saaol.com/404

ReWriteRule ^$  pages/index.php [NC,L]
ReWriteRule ^404$  pages/404.php [NC,L]

ReWriteRule ^centers([/]?)$ pages/center-page.php [NC,L]
ReWriteRule ^states([/]?)$ pages/states.php [NC,L]
ReWriteRule ^cities([/]?)$ pages/cities.php [NC,L]
ReWriteRule ^about([/]?)$ pages/about.php [NC,L]
ReWriteRule ^about-dr-bimal([/]?)$ pages/about-drbimal.php [NC,L]






# Company Reviews Start

