.home-first-section {
  /* padding: 3% 7% 0; */
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
}

.home-first-left > img {
  height: 450px;
  /* width: 100%; */
  transition: opacity 0.8s ease-in-out;
}

.home-first-left {
  color: var(--white);
  line-height: 1.4;
}

.home-first-right {
  margin-top: 5%;
  padding: 0 5% 0 0;
}

.home-first-right > p {
  color: var(--white);
  line-height: 1.7;
  font-size: 18px;
}

.home-first-treatment-section {
  margin-top: 5%;
}

.home-first-treatment-section > h2 {
  font-size: 50px;
  font-weight: 600;
  color: var(--white);
}

.first-treatment-card {
  padding: 15px 25px;
  grid-template-columns: 30% 1fr;
  gap: 8%;
}

.first-treatment-card {
  border-radius: 5px;
  margin-right: 10px;
  background-color: var(--white);
  color: var(--primary-blue-colour);
}

.first-treatment-card-rigth {
  font-weight: 500;
}

/* ------------------------------------ */
/* About us section css */
/* ------------------------------------ */

.about-us {
  padding: 5% 7%;
}

.about-us-content .gradient-div {
  margin: 1% 0;
}

.about-us-content > p {
  margin: 5% 0;
  text-align: justify;
  color: var(--paragraph-font-color);
}

.about-us-image > img {
  border-radius: 3px;
  border: 2px solid var(--primary-blue-colour);
}

/* ------------------------------------ */
/* Treatment section css */
/* ------------------------------------ */
.treatment-first {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.treatment-first .gradient-div {
  margin: 1% 0;
}

.treatment-card-parent {
  padding: 3% 0;
}

/* ------------------------------------ */
/* About us section css */
/* ------------------------------------ */

.eecp-treatments {
  background-image: url(../../images/psd/EECP-treatment-machine-shadow.png);
  /* padding: 5% 7%; */
  position: relative;
  z-index: 1;
}

.blue-layers {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5% 7%;
}

.eecp-treatment-contents .gradient-div {
  margin: 1% 0;
}

.eecp-treatment-contents .home-heading {
  color: var(--white);
}

.eecp-treatment-contents > p {
  margin: 5% 0;
  text-align: justify;
  color: var(--white);
}

.eecp-treatment-images > img {
  border-radius: 3px;
  width: 100%;
}

/* ------------------------------------ */
/* patient says section css */
/* ------------------------------------ */
.patient-says {
  position: relative;
  padding: 5% 7%;
}

.patient-says-first {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.patient-says-first .gradient-div {
  margin: 1% 0;
}

/* ------------------------------------ */
/* why choose us section css */
/* ------------------------------------ */
.why-choose {
  padding: 5% 7%;
}

.why-choose .patient-says-first > p {
  color: var(--primary-blue-colour);
  text-align: center;
  line-height: 1.8;
}

.why-choose-conatiner {
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  margin-top: 5%;
}

.why-choose-conatiner-card {
  padding: 10% 5%;
  margin-bottom: 15%;
  position: relative;
}

.why-choose-img-circle {
  border: 1px solid var(--white);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.why-choose-img-circle > img {
  height: 60px;
}

.why-choose-conatiner-card > p {
  margin: 5% 0;
  color: var(--white);
}

@media screen and (max-width: 700px) {
  .home-first-left > img {
    width: 100%;
    height: 100%;
  }
  .home-first-section {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    padding: 10% 7%;
  }

  .first-treatment-card {
    margin-bottom: 10px;
  }

  .about-us-content {
    margin-bottom: 5%;
  }

  .why-choose-conatiner {
    grid-template-columns: repeat(1, 1fr);
    gap: 0%;
    margin-top: 13%;
  }
  .about-us-image > img {
    width: 100%;
  }
}
