* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  line-height: 1.6;
  font-size: 16px;
}

:root {
  --primary-blue-colour: #029094;
  --paragraph-font-color: #727272;
  --black: #000;
  --black-100: #0f0f0f;
  --black-80: #262626;
  --black-60: #383838;
  --white: #fff;
  --gray: #e0e0e0;
  --section-padding: 0 7%;
  --gradient-colour: linear-gradient(
    90deg,
    rgba(2, 144, 148, 1) 0%,
    rgba(0, 172, 177, 1) 100%
  );
}

html {
  scroll-behavior: smooth;
}
