.first-states-grid {
  background-image: url("../../images/home/patient-bg.png");
  grid-template-columns: 100%;
  padding: 3% 7%;
  background-repeat: no-repeat;
  background-size: cover;
}

.first-banner-cities-content {
  margin-right: 5%;
}

.first-banner-cities-content > h2 {
  color: var(--white);
  font-weight: 700;
}
