/* General Styles for Slider */
.cities-slider {
  width: 80%;
  margin: 50px auto;
}
.cities-slider h2 {
  text-align: center;
  margin-bottom: 3%;
}
.cities-slider p {
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 0;
  margin: 10px;
}

/* Card Styles */
.card-city-review {
  padding: 20px;
  padding-bottom: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  margin: 20px 8px;
  height: 100%;
}

.quote > img {
  height: 50px;
}

.card-city-review .city-review {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

.card-city-review .line-city-review {
  width: 100%;
  height: 1px;
  background: #ccc;
}

.card-city-review .reviewer-info {
  display: flex;
  align-items: center;
}

.card-city-review img.city-review {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.card-city-review .reviewer-details {
  text-align: left;
}

.card-city-review .name-city-review {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-blue-colour);
}

.card-city-review .address-city-review {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

/* Slick Slider Navigation Buttons */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 40px !important;
  height: 40px !important;
  padding: 0;
  background-color: var(--primary-blue-colour) !important;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 50%;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 30px;
  line-height: 1;
  opacity: 0.75;
  color: var(--white) !important;
}
.slick-prev {
  left: -50px !important;
}
.slick-next {
  right: -50px !important;
}
.slick-prev:before {
  content: "←";
}
.slick-next:before {
  content: "→";
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .card-city-review .quote {
    font-size: 40px;
  }

  .card-city-review img.city-review {
    width: 60px;
    height: 60px;
  }

  .card-city-review .name-city-review {
    font-size: 16px;
  }

  .card-city-review .address-city-review {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .card-city-review {
    padding: 10px;
  }

  .card-city-review .quote {
    font-size: 30px;
  }

  .card-city-review .city-review {
    padding-top: 40px;
    font-size: 14px;
  }

  .card-city-review .line-city-review {
    margin: 10px 0;
  }

  .card-city-review img.city-review {
    width: 50px;
    height: 50px;
  }

  .card-city-review .name-city-review {
    font-size: 14px;
  }

  .card-city-review .address-city-review {
    font-size: 10px;
  }
}
