.cities-slider {
  width: 80%;
  margin: 50px auto;
}
.cities-slider h2 {
  text-align: center;
  margin-bottom: 3%;
}
.cities-slider p {
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
  margin: 10px;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 40px !important;
  height: 40px !important;
  padding: 0;
  background-color: var(--primary-blue-colour) !important;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 50%;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 30px;
  line-height: 1;
  opacity: 0.75;
  color: var(--white) !important;
}
.slick-prev {
  left: -50px !important;
}
.slick-next {
  right: -50px !important;
}
.slick-prev:before {
  content: "←";
}
.slick-next:before {
  content: "→";
}

.card-city-review {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px 8px;
}

.card-city-review img.city-review {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2%;
}

.card-city-review p.city-review {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

.card-city-review .line-city-review {
  width: 50%;
  height: 1px;
  background: var(--primary-blue-colour);
  margin: 10px auto;
}

.card-city-review .name-city-review {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  color: var(--primary-blue-colour);
}

.card-city-review .address-city-review {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}
