/*  */

.contact-info {
  gap: 15px;
}

.right {
  gap: 15px;
}

.links-container > a {
  color: var(--white);
  font-size: 16px;
  line-height: 2.5;
}

.links-container > i {
  color: var(--white);
  font-size: 22px;
  margin-right: 5px;
  line-height: 2.5;
}

.social-icons > a {
  color: var(--white);
  font-size: 16px;
  line-height: 2.5;
}

.language-select > select {
  margin-top: 6px;
  font-size: 16px;
}

.social-icons {
  gap: 10px;
}

.social-icons > p > a > i {
  color: var(--white);
  font-size: 22px;
  line-height: 2.5;
}
